.card {
  border: 1px solid #e4e8ef;
  height: 150px;
  padding: 10px;
  width: 80%;
  margin: 10px auto;
  background-color: #fff;
  color: #22c3c3;
}

.room {
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 70px;
}

.btn-black {
  color: #fff;
  background-color: #415050;
}