input[type=text],
input[type=date],
input[type=time],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

div#formDiv {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form-labels {
  color: #7f7f86;
}

.heading {
  color: #7f7f86;
}